@import '../../assets/styles/global-styles.scss';

.g-centered-form{
  .g-form-container{
    width: 416px;
    height: 298px;

    .g-input-box{
      margin-bottom: 24px;
      width: 416px;
      position: relative;
      .g-input-container{
        width: 100%;
      }
      .eye-icon{
        background-image: url(../../assets/images/eye-icon.svg);
        background-repeat: no-repeat;
        width: 16px;
        height: 12px;
        position: absolute;
        top: 48px;
        right: 18px;
        cursor: pointer;
      }
    }

    .g-clickable-label{
      margin-bottom: 32px;
    }
  }
}