@import '../../assets/styles/global-styles.scss';

.sixty-creek-login{
  .g-centered-form-with-header{
    .g-form-container{
      width: 416px;
      height: 298px;
      .g-input-box{
        .eye-icon{
          background-image: url(../../assets/images/eye-open-icon.svg);
          background-repeat: no-repeat;
          background-size: 18px 18px;
          width: 18px;
          height: 18px;
          position: absolute;
          top: 43px;
          right: 14px;
          cursor: pointer;
          z-index: 10;
        
          &.open{
            background-size: 16px 16px;
            width: 16px;
            height: 16px;
            top: 44px;
            right: 15px;
            background-image: url(../../assets/images/eye-icon.svg);
          }
        }
        
        .g-error-label{
          &.smallest{
          margin-left: 16px;
          margin-top: 4px;
          margin-bottom: 4px;
          }
        }        
      }
      .g-link-item{
        &.small{
          margin-top:16px;
          margin-bottom: 32px;
          margin-left: 16px;
        }
      }
    }
  }
}
